@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Rajdhani:wght@500&display=swap');


:root {


  --bg: #141414;
  --light: #1E1E1E;
  --highlight: #7CA982;
  --txt: #D6D6D6;
  --secondary: #E0EEC6;
  --tertiary: #243E36;

  --pc-large: 70px;
  --pc-medlarge: 40px;
  --pc-med: 30px;
  --pc-small: 20px;


  --mob-large: 35px;
  --mob-medlarge: 30px;
  --mob-medlargeBetween: 20px;
  --mob-med: 25px;
  --mob-small: 10px;



  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Epilogue';
  background-color: var(--bg);
  color: var(--txt);

}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.section__padding {
  padding: 3rem 3rem;
}

.section__margin {
  margin: 3rem 0;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 5px;
  /* opacity: 0%; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}