.social__container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: ; */
    /* cursor: pointer; */
}

.connect__container {
    display: flex;
    flex-direction: column;
}

.form__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 1rem 2rem;
}

.icons {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}

.icons:hover {
    fill: var(--highlight);
    transform: translateY(-5px);
    color: var(--highlight);
}


@media screen and (max-width: 770px) {
    .icons {
        height: 40px;
        width: 40px;
    }
}