.thanking__container {
    display: flex;
    align-items: flex-end;
    width: 70%;
    justify-content: flex-end;

}

.thanking__container>h2 {
    color: var(--highlight);
    font-size: var(--pc-med);
}


@media screen and (max-width: 770px) {
    .thanking__container>h2 {
        font-size: var(--mob-med);
    }
}