.salutation__container {
    display: flex;
    align-items: flex-end;
    /* width: 70%; */
    justify-content: flex-end;
    flex-direction: column;

}

.salutation__container>h2 {
    color: var(--secondary);
    font-size: var(--pc-med);
}

@media screen and (max-width: 770px) {
    .salutation__container>h2 {
        font-size: var(--mob-med);
    }

    .img_sign {
        height: 50px;
        width: 150px;
    }
}