.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 1rem;
}

@media screen and (max-width: 770px) {
    .footer_container {
        padding: 0.5rem;
    }
}